/* CSS Positions - static relative absolute  fixed sticky */
.container
{
    border:4px solid darkorchid;
    background-color: khaki;
}
.box
{
    display: inline-block;
    border:2px solid red;
    width:150px;
    height:150px;
    margin:2px;
}
#box3
{
    position:absolute;
    top:34px;
    left:134px;
}
