.navbar
{
    background-color: #ccc;
    border-radius: 22px;
}
.navbar ul
{
    overflow:auto;
    margin:0;
}
.navbar li
{
    float:left;
    list-style:none;
    margin: 13px 20px;
    padding-top: 4px;
}
.navbar li a
{
    text-decoration:none;
    color:rgb(170, 126, 72);
    padding:3px 3px;
}
.search
{
    float:right;
    color:brown;
    padding: 12px 75px;
}
.navbar input
{
    border:2px solid black;
    border-radius:24px;
    padding: 3px 17px;
    width: 129px;
}
.navbar li a:hover
{
    color:rgb(135, 135, 218);
}